:root {
  --borderFinn: 2px solid black;
}
.finn.hood {
  background-color: white;
  width: 345px;
  height: 250px;
  border-radius: 45%;
  border: var(--borderFinn);
  position: absolute;
  margin-right: 100px;
}

.finn.horns .left,
.finn.horns .right {
  background-color: white;
  width: 45px;
  height: 75px;
  border-radius: 45%;
  border: var(--borderFinn);
  position: absolute;
  z-index: 1;
  margin-left: 20px;
}

.finn.horns .right {
  margin-left: 280px;
}

.finn.horns .left .inner,
.finn.horns .right .inner {
  background-color: white;
  width: 46px;
  height: 55px;
  position: absolute;
  z-index: 2;
}

.finn.horns .left .inner {
  margin: 25px 0 0 2px;
}

.finn.horns .right .inner {
  margin: 25px 0px 0 -3px;
}

.finn.face {
  background-color: #f6ccb2;
  width: 250px;
  height: 190px;
  border-radius: 45%;
  border: var(--borderFinn);
  position: absolute;
  margin: 45px;
}

.finn.eye {
  background-color: black;
  border: var(--borderFinn);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 2;
  position: absolute;
  margin: 35px 0 0 35px;
  overflow: hidden;
}

.finn.eye.right {
  margin-left: 165px;
}

.finn.eye.right .light .small,
.finn.eye.right .light .big,
.finn.eye .light .small,
.finn.eye .light .big {
  background-color: white;
  border-radius: 50%;
}

.finn.eye .light .small,
.finn.eye.right .light .small {
  height: 20px;
  width: 20px;
  position: relative;
  left: 20px;
}

.finn.eye .light .big,
.finn.eye.right .light .big {
  height: 30px;
  width: 30px;
}

.finn.eye.right .light {
  transform: rotate(180deg);
}

.finn.mouth {
  width: 65px;
  border: var(--borderFinn);
  border-radius: 40px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin: 80px 0px 0 90px;
  background-color: #651f0b;
  height: 30px;
  overflow: hidden;
  display: flex;
  position: absolute;
}

.finn.tongue {
  background-color: #f47a74;
  margin: 15px 10px 0 0;
  height: 15px;
  width: 40px;
  border: var(--borderFinn);
  border-top-left-radius: 50px;
  border-top-right-radius: 100px;
  position: absolute;
}

.finn.teeths {
  display: flex;
}

.finn.teeths .teeth {
  background-color: white;
  border: var(--borderFinn);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 10px;
  height: 12px;
  position: relative;
  bottom: 10px;
  left: 20px;
}

.finn.teeths .teeth.one {
  left: 10px;
}
