:root {
  --skin: #f7c233;
  --border: 2px solid black;
}
.jake.body {
  background-color: var(--skin);
  width: 285px;
  height: 285px;
  border-radius: 50%;
  border: var(--border);
  position: absolute;
  z-index: 1;
}

.jake.ear {
  width: 20px;
  height: 30px;
  border: var(--border);
  border-top: 0;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  margin-top: 105px;
  margin-left: 33px;
  position: absolute;
  z-index: 2;
}

.jake.eyes {
  display: flex;
  margin-top: 50px;
  margin-left: 65px;
  position: absolute;
  z-index: 2;
}

.jake.eye {
  background-color: black;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 50px;
}

.jake.eyeInner {
  background-color: white;
  width: 72px;
  height: 80px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 4px;
}

.jake.mouth {
  width: 15px;
  height: 5px;
  border: var(--border);
  border-top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 150px;
  margin-left: 176px;
  position: absolute;
  z-index: 5;
}

.jake.snout {
  background-color: var(--skin);
  width: 95px;
  height: 80px;
  margin: 135px;
  margin-top: 80px;
  border: 3px solid black;
  border-radius: 75% 75% 30% 30% / 100% 100% 35% 35%;
  position: absolute;
  z-index: 4;
}

.jake.snoutInner {
  background-color: var(--skin);
  width: 56px;
  height: 80px;
  margin-left: 157px;
  margin-top: 109px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

.jake.snoutInnerCurve {
  width: 52px;
  height: 55px;
  margin-left: 135px;
  margin-top: 108px;
  border-radius: 100% 0% 55% 45% / 55% 0% 100% 45%;
  position: absolute;
  border-bottom: 5px solid black;
  z-index: 6;
}

.jake.snoutInnerCurve.right {
  transform: rotateY(180deg);
  margin-left: 185px;
}

.jake.nose {
  background-color: black;
  width: 45px;
  height: 30px;
  margin-left: 165px;
  margin-top: 105px;
  border-radius: 50%;
  position: absolute;
  z-index: 7;
}
