body{
    display: flex;
}

.emoji {
    margin: 40px auto;
}

.bigCircle {
    width: 200px;
    height: 200px;
    background-color:  gold;
    border: 3px solid black;
    border-radius: 50%;
}

.eye {
    width: 30px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}

.eyes {
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    margin-top: 45px;
}

.mouthHappy {
    width: 90px;
    height: 40px;
    border-bottom-left-radius: 80px;  /*Define o arrdondamento da borda, para criar o efeito de semicírculo, modificando olado oposto à abertura*/
    border-bottom-right-radius: 80px;
    border: 3px solid black;
    border-top: 0; /*O lado para o qual se quer a abertura deve ser definido como zero.*/
    margin: auto;
    margin-top: 15px;
}

.mouthSad {
    width: 90px;
    height: 40px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border: 3px solid black;
    border-bottom: 0;
    margin: auto;
    margin-top: 15px;
}