.line{
    display: flex;
}

.emoji {
    margin: 40px auto;
}

.bigCircle {
    width: 200px;
    height: 200px;
    background-color:  gold;
    border: 3px solid black;
    border-radius: 50%;
}

.eyes {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    margin-top: 45px;
}

.eye {
    width: 30px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
}

.mouthHappy, .mouthSad, .mouthSmile {
    width: 90px;
    height: 40px;
    margin: auto;
    margin-top: 15px;
    border: 3px solid black;
    
}

.mouthHappy, .mouthSmile, .mouthSmileInner, .mouthAstonishedInner {
    border-bottom-left-radius: 80px;  /*Define o arrdondamento da borda, para criar o efeito de semicírculo, modificando olado oposto à abertura*/
    border-bottom-right-radius: 80px;
}

.mouthHappy {
    border-top: 0; /*O lado para o qual se quer a abertura deve ser definido como zero.*/
}

.mouthSad {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom: 0;
}

.mouthSmile {
    background-color: white;
}

.mouthSmileInner {
    width: 83px;
    height: 29px;
    border: 3px solid black;
    background-color: black;
    margin: auto;
    margin-top: 8px;
}

.eyeInner {
    width: 30px;
    height: 35px;
    background-color: gold;
    border-radius: 50%;
}

.eye-astonished {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

.mouthAstonished, .mouthCry {
    width: 35px;
    height: 55px;
    border-radius: 50px;
    border: 3px solid black;
    background-color: white;
    margin: auto;
    margin-top: 15px;
}

.mouthAstonishedInner {
    width: 29px;
    height: 33px;
    border: 3px solid black;
    background-color: black;
    margin: auto;
    margin-top: 17px;
}

.eyes-cry {
    display: flex;
    align-content: space-between;
    justify-content: center;
    margin-top: 45px;   
}

.eye-cry {
    width: 100px;
    height: 150px;
    background:linear-gradient(90deg, rgb(34, 71, 90),  rgb(43, 137, 173), rgb(164, 198, 211), rgb(43, 137, 173), rgb(34, 71, 90));
    border-top: 5px solid black;
    border-radius: 10px;
    margin: 0 30px;
}

.mouthCry {
    position: absolute; 
}

#CryFace .bigCircle {
    overflow: hidden;
}

.eyeHeart {
    margin: 15px;
    background-color: red;
    height: 30px;
    transform: rotate(-45deg);
    width: 30px;
    position: relative;
}

.eyeLeft, .eyeRight {
    background-color: red;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.eyeLeft {
    top: -12px;
}

.eyeRight {
    left: 12px;
}

#ScaredFace .bigCircle {
    background: linear-gradient(#0e94af, #5db0c0, gold 55%)
}

.mouthScared {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 45px;
}

.mouthScaredTop {
    position: absolute;
    width: 66px;
    margin-bottom: 2px;
    height: 35px;
    background-color: black;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
}

.mouthScaredBottom {    
    position: absolute;
    width: 30px;
    height: 10px;
    background-color: gold;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

