* {
    box-sizing: border-box;
    --wingColor: #69433D;
    --mainColor:#A76D52;
    --innerColor: #E6C393;
    --beakYellow: #f4a735;
}

body {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #a5c0d6;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headContainer{
    z-index: 300;
    display:flex;
    justify-content:center;

}

.headSides {
    display: grid; 
    grid-template-columns: auto auto;
}

.head, .innerHead {
    height:280px;
    width: 280px;
    border-radius: 50%;
    position: relative;
    background: var(--mainColor);
    display:flex;
    justify-content:center;
    align-items: center;
}

.innerHead {
    background: var(--innerColor);
    height:220px;
    width: 220px;
    z-index:350
}

.head.left {
    right: -75px;
}
.head.right {
    left: -75px;
}

.headCenter {
    position: absolute;
    display: flex;
    justify-content: center;

}

.eyebrow {
position: relative; 
width: 0;
height: 0;
border-style: solid;    
top: -15px;
border-width: 200px 175px 0 175px;
border-color:  var(--wingColor) transparent transparent transparent;
z-index: 500;
display: flex;
justify-content: center;
align-items: flex-end;
border-radius:50px;
}

.innerEyebrow {
    position: relative; 
    width: 0;
    height: 0;
    border-style: solid;    
    top: -25px;
    border-width: 150px 125px 0 125px;
    border-color: var(--mainColor) transparent transparent transparent;
    z-index: 500;
}
    
.beak {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 50px 0 50px;
    border-color: var(--beakYellow) transparent transparent transparent;
    z-index: 500;
    top: 150px;
    border-radius: 50%;
}

.body {
    position: relative;
    top:-100px;
    display:flex;
}

.belly {
    height:400px;
    width: 410px;
    background: var(--innerColor);
    border: 40px solid var(--mainColor);
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    z-index: 200;
}

.wing {
    background: var(--wingColor);
    width: 145px;
    height: 320px;
    position: relative;
    top: 40px;
    border-radius: 50%;
}

.wing.left{    
    left: 110px;
    transform: rotate(10deg)
}

.wing.right {
    right: 110px;
    transform: rotate(-10deg)
}
